.places h1 {
	text-align: left;
	font-size: 30px;
}

.places div {
	display: flex;
    flex-wrap: wrap;
	justify-content: center;
}

.places article {
	width: 390px;
	margin: 20px;
	padding: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
}

article .top {
	margin-bottom: 20px;
}

.places article .top h2 {
	font-size: 30px;
	margin-top: 10px;
	text-align: center;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.price_by_night {
	color: #FF5A5F;
	border: 4px solid #FF5A5F;
	border-radius: 40px;
	min-width: 60px;
	height: 60px;
	font-size: 30px;
}

.dummy {
	min-width: 60px;
	border: 4px solid #FFFFFF;
	border-radius: 40px;
}

.price_by_night p {
	margin-top: 15px;
}

.information {
	height: 80px;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	display: flex;
	flex-direction: column;
	align-content: center;
}

.max_guest {
	width: 100px;
	display: flex;
	flex-direction: column;
	align-content: center;
}

.max_guest .guesslogo {
	background-image: url(../images/icon_group.png);
	height: 50px;
	width: 50px;
	margin-left: 5px;
}

.max_guest p {
	margin-top: 0px;
	font-size: 14px;
	margin-bottom: 0px;
}

.number_rooms {
	width: 100px;
	display: flex;
	flex-direction: column;
	align-content: center;
}

.number_rooms .roomlogo {
	background-image: url(../images/icon_bed.png);
	height: 50px;
	width: 50px;
	margin-left: 10px;
}

.number_rooms p {
	margin-top: 0px;
	font-size: 14px;
	margin-bottom: 0px;
}

.number_bathrooms {
	width: 100px;
	display: flex;
	flex-direction: column;
	align-content: center;
}

.number_bathrooms .bathlogo {
	background-image: url(../images/icon_bath.png);
	height: 50px;
	width: 50px;
	margin-left: 15px;
}

.number_bathrooms p {
	margin-top: 0px;
	font-size: 14px;
	margin-bottom: 0px;
	text-align: left;
}

.user .owner {
	text-align: left;
	font-weight: bold;
	margin-right: 2px;
}

.user p {
	margin-right: auto;
	margin-bottom: 8px;
}

.user, .description {
	font-size: 14px;
}

.description  p {
	margin-top: 0px;
	margin-bottom: 0px;
}